/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.btn {
  padding: 5px 15px;
  border-radius: 5px;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

.header {
  background-color: #000000;
  color: #ffffff;
  padding: 5px 5px;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  padding-left: 5px;
}

.nav-menu a {
  color: #ffffff;
}

.bi-arrow-down-right-circle {
  color: #ffffff;
}

.btn_request {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-right: 5px;
}

.btn_sign {
  background-color: #4C5FD5;
  border: none;
  color: #ffffff;
}

.hero {
  background-color: #dadbf1;
}

.hero-container {
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  width: fit-content;
}

.hero-form {
  background-color: #ffffff;
  border: 1px solid #000000;
  margin-top: 15px;
  display: flex;
  padding: 10px 5px;
}

.hero-form input {
  width: 100%;
  border: none;
}
.hero-form input:active {
  border: none;
  outline: none;
}

.hero-form .bi-arrow-right {
  background-color: #ffffff;
}

.services {
  background-color: #ffffff;
}

.container-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 6rem;
}
@media (max-width: 576px) {
  .container-grid {
    grid-template-columns: auto;
  }
}

.service {
  display: flex;
  padding-bottom: 3rem;
}
@media (max-width: 576px) {
  .service {
    flex-direction: column;
  }
}

.service-icon {
  padding-top: 10px;
  padding-right: 5px;
}
@media (max-width: 576px) {
  .service-icon {
    display: none;
  }
}

@media (max-width: 576px) {
  .service-explanation {
    text-align: center;
  }
}
.service-explanation h2 {
  padding-bottom: 10px;
}
.service-explanation p {
  padding-bottom: 10px;
}
.service-explanation a {
  color: #4C5FD5;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  height: max-content;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .container-footer {
    flex-direction: column;
    text-align: center;
  }
}

.footer-info {
  padding: 15px 0px;
}

.footer-info h3 {
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
}

.list .list-item {
  padding-bottom: 2px;
}
.list .list-item a {
  color: #ffffff;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
}
@media (max-width: 576px) {
  .contacts {
    padding: 0px;
  }
}

.footer-logo {
  padding-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
