@import "reset";
@import "variables";
@import "responsive";

//--- global ---
body {
  height: 100vh;
  font-family: $roboto;
}

.btn {
  padding: 5px 15px;
  border-radius: 5px;
}

h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
} 

a {
  text-decoration: none;
}

//--- container ---
.container {
  margin: 0 auto;
  width: 90%;
  @include device( mobile ) {
    width: 100%;
  }
}

//--- header ---
.header {
  background-color: $black;
  color: $white;
  padding: 5px 5px;
}

//--- nav ----
.nav {
  display: flex;
  justify-content: space-around;
  
  
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.nav-logo {
  
}
.nav-menu {
    display: flex;
    justify-content: center;
    padding-left: 5px;
  } .nav-menu a {
    color: $white;
  }


.bi-arrow-down-right-circle {
  color: $white;
}
// header btns
.nav_btns {
  
}

.btn_request {
  background-color: $black;
  border: 1px solid $white;
  color: $white;
  margin-right: 5px;
}
.btn_sign {
  background-color: $primary-color;
  border: none;
  color: $white;
}

// --- hero ---
.hero {
  background-color: $secundary-color;
}

.hero-container { 
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  width: fit-content;
}

.hero-container h1 {}

.hero-form {
  background-color: $white;
  border: 1px solid $black;
  margin-top: 15px;
  display: flex;
  padding: 10px 5px;
}

.hero-form input {
  width: 100%;
  border: none;
  &:active {
    border: none;
    outline: none;
  }

}



.hero-form .bi-arrow-right {
  background-color: $white;
}

//--- section services ---
.services {
  background-color: $white;
}

.container-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 6rem;
  @include device( mobile ) {
    grid-template-columns: auto;
  }
}

.service{
  display: flex;
  padding-bottom: 3rem;
  @include device( mobile ) {
    flex-direction: column;
  }
}

.service-icon {
  padding-top: 10px;
  padding-right: 5px;
  @include device( mobile ) {
    display: none;
  }
}

.service-explanation {
  @include device( mobile ) {
    text-align: center;
  }
  h2 {
    padding-bottom: 10px;
  }
  p {
    padding-bottom: 10px;
  }
  a {
    color: $primary-color;
  }
}

//--- footer --- 
.footer {
  background-color: $black;
  color: $white;
  height: max-content;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  @include device( mobile ) {
    flex-direction: column;
    text-align: center;
  }
}

.footer-info{ 
  padding: 15px 0px;
}

.footer-info h3 {
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
}
.list{
  .list-item {
    padding-bottom: 2px;
  } 
  .list-item a {
    color: $white;
    
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  @include device( mobile ) {
    padding: 0px;
  }
}

.footer-logo {
  padding-bottom: 10px;
}